<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ metaTitle }}</title>

  <link rel="stylesheet" href="/css/architect.css?v=10" media="screen" type="text/css">
  <link rel="stylesheet" href="/css/print.css" media="print" type="text/css">

  <!-- open graph -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ metaTitle }}">
  <meta property="og:image" content="{{ metaImage }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:description" content="{{ metaDescription }}">

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:title" content="{{ metaTitle }}">
  <meta name="twitter:description" content="{{ metaDescription }}">
  <meta name="twitter:image" content="{{ metaImage }}">
</head>
<body>

  {% include "partials/header.njk" %}

  <div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
  
        {{ content | safe }} 
  
        {% if page.url != '/' %}
        <a href="{{ '/' + locale | url }}">
          <h2>Back</h2>
        </a>
        {% endif %}
      </section>
    </div>
  </div>

  {% include "partials/footer.njk" %}

</body>
</html>