<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ciprian's Website</title>
</head>

<body>
  <script>
    var lang = navigator.language || navigator.userLanguage;
    if (lang.indexOf('ro') == 0)
      window.location = "{{ '/content/_ro/' | url }}";
    else if (lang.indexOf('de') == 0)
      window.location = "{{ '/content/_de/' | url }}";
    else
      window.location = "{{ '/content/' | url }}";
  </script>
</body>

</html>