    <footer>

      <div class="inner" style="font-size: 1.2em;">
        <span> 
          &copy;2020 - 2023 <a href="{{ '/' | url }}">{{ site.title }}</a>
        </span>
        &nbsp;&nbsp;
        <span>
          Hosted by
          <a href="https://github.com">GitHub</a>
        </span>
        /
        <span>
          <a href="https://jekyllrb.com/">Jekyllrb</a>
        </span>

        &nbsp;&nbsp;
        <span>
          Powered by
          <a href="https://github.com/dnikku">@dnikku</a>
        </span>
      </div>

    </footer>