  <header>
    <div class="inner">
      <a href="{{ '/' | url }}">
        <h1>
          <span style="vertical-align: middle;">
            <img src="{{ '/images/afrika-small.png' | url }}" alt="Afrika" />
          </span>
          {{ site.title }}
        </h1>
      </a>

      <h3>
        <ul id="lang">
        {% for lgg in site.languages %}
        {% if lgg.code == lang %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
            <a href="{{ '/content/' + lgg.path }}">
              <img src="{{ lgg.image }}" alt="{{ lgg.label}}" />
            </a>
          </li>
        {% endfor %}
        </ul>
      </h3>
    </div>
  </header>
